rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedInUser(request, userId) {
    	return request.auth != null && request.auth.uid == userId
    }

    match /users/{userId}/maps/{document=**} {
    	// This rule allows write access to anything in the maps collection only for the logged in user
	    allow write: if isSignedInUser(request, userId);
	    // Allow reading maps collection for authenticated user
	    allow read: if isSignedInUser(request, userId);
    }

    match /users/{userId} {
        allow create: if isSignedInUser(request, userId);
        allow update: if isSignedInUser(request, userId);
        allow read: if isSignedInUser(request, userId);
    }
  }
}
